# === Build Artifacts ===
/build/
/.gradle/
/out/
/bin/
/dist/

# === Gradle Wrapper ===
!gradle/wrapper/gradle-wrapper.jar

# === IDE Files ===

## Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

## NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/dist/
/.nb-gradle/

## VS Code
.vscode/

# === Other ===
HELP.md
*.env
*.env.*

# Java Spring Boot アプリの設定ファイルを除外
backend/src/main/resources/application-prod.properties
/NUL
